@font-face {
    font-family: 'Ubuntu';
    src: url(../../resources/fonts/Ubuntu-Regular.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #003300;
    --secondary: #FFC600;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

.background {
    background-image: url(../img/cover4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(16, 135, 46, 0.112);
}

.wrap {
    /* min-height: 75vh; */
    display: flex;
    align-items: center;
    /* max-height: 80vh; */
}

.login-box {
    /* width: 600px;
    display: flex; */
    backdrop-filter: blur(4px);
    border: 2px solid #f2da82;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.first-field {
    background-color: #003300;
    width: 50%;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
    padding: 20px 10px 10px 20px;
}


/* ----------------------------------------- */
/* -----------TEXT CODE ---------------- */
.head-text {
    color: var(--primary);
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1rem;
    padding: 0;
}

.tiny {
    margin: 30px;
    font-size: 12px;
    vertical-align: middle;
    line-height: 15px;
    color: #333333;
}

.vertical {
    vertical-align: middle;
}

/* ----------------------------------------- */
/* -----------DASHBOARD CODE ---------------- */
.mmain {
    position: relative;
    width: 100%;
    
}
.glassporphism {
    backdrop-filter: blur(7px);
    background-color: transparent;
    height: 100%;
}

/* ----------------------------------------- */
/* -----------NAVBAR CODE ---------------- */

.sidebar {
    width: 80px;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    z-index: 99;
}

.sidebar.active {
    width: 300px;
    height: 100vh;
    position: fixed;
    overflow-x: hidden;
    z-index: 99;
}

.sidebar ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

.sidebar ul li{
    position: relative;
    width: 100%;
    margin-left: 15px;
    list-style: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.sidebar ul li:hover{
    background-color: #fff;
    backdrop-filter: blur(6px);
}

.sidebar ul li:nth-child(1) {
    margin: 0;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    pointer-events: none;

}

.sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
}

.sidebar ul li:hover a {
    color: #003300;
}

.sidebar ul li a .icon {
    position: relative;
    display: block;
    min-width: 60px;
    text-align: center;
}

.sidebar ul li a .icon i {
    font-size: 1.3rem;
}

.sidebar ul li a span {
    position: relative;
    display: block;
    padding: 15px 10px;
    text-align: start;
    white-space: nowrap;
}

/* --------- curve outside ---------- */
.sidebar ul li:hover a::before{
  content: "";
  position: absolute;
  right: 0;
  top: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10px #fff;
  pointer-events: none;
}
.sidebar ul li:hover a::after,
.sidebar ul li.hovered a::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -50px;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 100%;
  box-shadow: 35px -35px 0 10px #fff;
  pointer-events: none;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}

/* ----------------------------------------- */
/* -----------MAIN-BODY CODE ---------------- */
.main-body {
    position: absolute;
    left: 80px;
    right: 0;
    top: 0;
    min-height: 100vh;
    overflow: auto;
  }

.main-body.active {
    position: absolute;
    left: 300px;
}

.toggle, .toggler {
    color: #003300;
    cursor: pointer;
}

.toggle-input {
    display: none;
  }

/* Input style */
.invalid input {
    outline: none;
    border: 2px #d35400 solid;
}

.invalid input:focus {
    outline: none;
    border: 2px #d35400 solid;
}